@media only screen and (max-width: 770px) {
    .dn {
        display: none;
    }

}

.table {
    font-size: 14px;
}

.text {
    font-size: 14px;
}

.scroll-div {
    overflow-x: scroll;
}

.text_align {
    text-align: center;
}

.bg-gray-l {
    background: rgb(228, 228, 228, 0.75);
}


.bg-green-l {
    background-color: rgba(1, 19, 1, 0.8);
}

.border-big-dark {
    border: 12px rgb(50, 50, 50, 0.8) inset;

    /*border-top: none;*/
}

@media only screen and (min-width: 771px) {
    .ds {
        display: none;
    }
}