{% load static %}
<section>
    <div class="container ">
{#        <div class="row justify-content-end mb-3 mt-1 me-1">#}
{#            <div class="col-auto ">#}
{#                <form action="">#}
{#                    <input type="text" value="" name="search_by" class="form-control input-sm text p-1 p-sm-auto "#}
{#                           placeholder="نام, شماره تلفن, شماره خانه">#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
        <div class="row border-big-dark bg-warning  rounded-pill">
            <div class="col-1 p-0 align-self-center">
                {% if user.image  %}
                    <img src="{{ user.image.url }}" class="img rounded-circle" alt="">
                {% else %}
                    <img src="{% static 'images/user.jpg' %}" class="img rounded-circle" alt="">

                {% endif %}



            </div>
            <div class="col align-self-center ">
                <table class="table table-striped table-hover text-align  mb-1">
                    <tr>
                        <th>نام کاربری:</th>
                        <td>{{ user.username }}</td>


                    </tr>

                    <tr>
                        <th>نام و نام خانوادگی:</th>
                        <td>{{ user.first_name }} {{ request.user.last_name }}</td>
                    </tr>
                    <tr>
                        <th>ایمیل:</th>
                        <td>{{ user.email }}</td>
                    </tr>
                </table>
            </div>
            <div class="col text">
                <div class="row align-items-start">

                    <div class="col-2 ">توضیحات:</div>
                    <div class="col">{% if user.text %}{{ user.text }} {% else %}دفترچه تلفن{% endif %}</div>
                </div>
            </div>
        </div>
    </div>
</section>