{% load static %}

<div class="col-12 col-sm-6">
                <a href="{% url 'phone_book_contacts:show_contact' user.username %}" >
                <div class="row border-big-dark bg-warning align-items-center rounded-pill" >
                    <div class="col-2 p-0">
                        {% if user.image  %}
                    <img src="{{ user.image.url }}"  width="70px" height="70px" class="img rounded-circle"  alt="">
                {% else %}
                    <img src="{% static 'images/user.jpg' %}" width="70px" height="70px" class="img rounded-circle" alt="">

                {% endif %}

                    </div>
                    <div class="col-10 " >
                        <table class="table table-striped table-hover text-align  mb-1" >
                            <tr>
                                <th>نام کاربری:</th>
                                <td>{{ user.username }}</td>


                            </tr>

                            <tr>
                                <th>نام و نام خانوادگی:</th>
                                <td>{{ user.first_name }} {{ user.last_name }}</td>
                            </tr>
                        </table>
                    </div>

                </div>
                    </a>
            </div>