<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ایمیل باکس | کنترل پنل</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% include '_shared/_HeaderReferences.html' %}
</head >
<body class="{{ body }}">
{% include '_shared/Header.html' %}

{% block content %}

{% endblock %}
{% include '_shared/Footer.html' %}
{% include '_shared/_FooterReferences.html' %}
</body>
</html>