<!DOCTYPE html>


<html lang="ir" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ایمیل باکس | کنترل پنل</title>
    <!-- Tell the browser to be responsive to screen width -->
     <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include '_shared/_HeaderReferences.html' %}
</head >
<body class="{{ body }}">
{% include '_shared/Header.html' %}

{% block content %}

{% endblock %}
{% include '_shared/Footer.html' %}
{% include '_shared/_FooterReferences.html' %}
</body>
</html>