{% extends '_shared/_MainLayout.html' %}
{% block content %}
    <section>
        <div class="login-box">
            <div class="login-logo">
                <a href="{% url 'phone_book_contacts:add_contacts_by_file' request.user %}"><b>افزودن با اکسل</b></a>
            </div>
            <div class="login-box-body">
                <p class="login-box-msg">فرم زیر را تکمیل کنید و ورود بزنید</p>

                <form action="{% url 'phone_book_contacts:add_contacts_by_file' request.user%}" enctype="multipart/form-data"
                      method="post">
                    {% csrf_token %}
                    <div class="form-group has-feedback">
                        {% for error in add_file_form.file.errors %}
                            <li class="text-danger">
                                {{ error }}
                            </li>
                        {% endfor %}
                        <input type="file" name="file" class="form-control" placeholder="Excel یا CSV">
                    </div>
                    <div class="row mt-1 gx-5">
                        <div class="col-2"><span>عمومی:</span></div>
                        <div class="col">
                            <label class="form-check-label" for="flexRadioDefault1">بله</label>

                            <input class="form-check-input" type="radio" name="is_public"   id="flexRadioDefault1" value="بله">
                            <label class="form-check-label" for="flexRadioDefault2">خیر</label>

                            <input class="form-check-input" type="radio" name="is_public" checked  id="flexRadioDefault2" value="خیر">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <!-- /.col -->
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary btn-block ">ارسال</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>


            </div>
        </div>
    </section>
{% endblock %}

